name: Plugin Backwards Compatibility Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  typecheck_with_plugins:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'
        bundler-cache: false
    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: yq
        version: 1.0
    - name: Install gems
      run: |
        echo 'gem "solargraph-rails"' > .Gemfile
        echo 'gem "solargraph-rspec"' >> .Gemfile
        bundle install
    - name: Configure to use plugins
      run: |
        bundle exec solargraph config
        yq -yi '.plugins += ["solargraph-rails"]' .solargraph.yml
        yq -yi '.plugins += ["solargraph-rspec"]' .solargraph.yml
    - name: Ensure typechecking still works
      run: bundle exec solargraph typecheck --level typed
    - name: Ensure specs still run
      run: bundle exec rake spec
  run_solargraph_rspec_specs:
    # check out solargraph-rspec as well as this project, and point the former to use the latter as a local gem
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    #
    - name: clone https://github.com/lekemula/solargraph-rspec/
      run: |
       cd ..
       git clone https://github.com/lekemula/solargraph-rspec.git
       cd solargraph-rspec
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'
        bundler-cache: false
    - name: Install gems
      run: |
       cd ../solargraph-rspec
       echo "gem 'solargraph', path: '../solargraph'" >> Gemfile
       bundle install
    - name: Run specs
      run: |
        cd ../solargraph-rspec
        bundle exec rake spec

  run_solargraph_rails_specs:
    runs-on: ubuntu-latest
    steps:
    - name: Run
      run: |
        false
